
@{
    ViewBag.Title = "ShowCountersUsingViewBag";
}

<h2>ShowCountersUsingViewBag</h2>

<ul>
    <li>SessionCounter     = @ViewBag.SessionCounter</li>
    <li>ApplicationCounter = @ViewBag.ApplicationCounter</li>
    <li>StaticCounter      = @ViewBag.StaticCounter</li>
</ul>



