@model WebCounters.Models.CountersViewModel

@{
    ViewBag.Title = "ShowCountersUsingModel";
}

<h2>ShowCountersUsingModel</h2>

<ul>
    <li>SessionCounter     = @Model.SessionCounter.NextValue</li>
    <li>ApplicationCounter = @Model.ApplicationCounter.NextValue</li>
    <li>StaticCounter      = @Model.StaticCounter.NextValue</li>
</ul>

<div>@Html.ActionLink("Next value", "ShowCountersUsingModel", "Counter")</div>